<section class="info_section ">
    <div class="container">
        <h4>Get In Touch</h4>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="info_items">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="/contact">
                                <div class="item ">
                                    <div class="img-box "><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                                    <p>Visit us at our local <%= siteName %> office</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/contact">
                                <div class="item ">
                                    <div class="img-box "><i class="fa fa-phone" aria-hidden="true"></i></div>
                                    <p>
                                        <%= contact.phone %>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="/contact">
                                <div class="item ">
                                    <div class="img-box"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    <p>
                                        <%= contact.email %>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-box">
        <h4>Follow Us</h4>
        <div class="box">
            <a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://x.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
</section>